@font-face {
    font-family: "Raleway-Regular";
    src: url('./Raleway-Regular.ttf') format('truetype');
}

body {
    background-color: #2a2b38;
    color: #ffffff;
    padding-top: 10px;
}

#title {
    font-family: 'Raleway-Regular';
    padding: 10px;
}